.navbar {
    background-color: var(--dark);
    padding: 1rem 2rem;
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .left {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar .logo {
    font-weight: bold;
    color: rgb(145, 99, 0);
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar .categories .categories-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar .categories .categories-list .category .link {
    color: var(--light);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.navbar .categories .categories-list .category .link:hover {
    color: rgb(145, 99, 0);
}

.navbar .login {
    background-color: rgb(145, 99, 0);
    color: var(--light);
}

.navbar .login:hover {
    background-color: rgb(102, 61, 0);
}

.navbar .profile {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar .profile .wishlist-cart {
    display: flex;
    gap: 1rem;
}

.navbar .profile .wishlist-cart .link {
    color: var(--light);
    font-size: 1.25rem;
}

.navbar .profile .wishlist-cart .link:hover {
    color: rgb(102, 61, 0);
}

@media screen and (max-width:768px) {
    .navbar{
        max-width: 768px;
    }
}

@media screen and (max-width:710px) {
    .navbar .left{
        gap: 0;
    }
}

@media screen and (max-width:710px) {
    .navbar .left{
        gap: 0;
    }
}

@media screen and (max-width:710px) {
    .navbar .categories .categories-list{
        gap: 0;
    }
}