input {
    display: block;
    padding: 0.25rem 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    border-radius: 0.25rem;
    --webkit-appearance: none;
    color: var(--dark);
    border: 1px solid var(--background-dark);
    background-color: var(--light);
    transition: border 0.3s ease-in-out;
}

input::placeholder {
    color: var(--background-dark);
}

input:focus {
    outline: none;
    border-color: var(--primary);
}
