:root {
    --primary: rgb(145, 99, 0);
    --primary-dark: rgb(102, 61, 0);

    --secondary: #eac700;
    --secondary-dark: #907b00;

    --info: #3283c5;
    --info-dark: #2973ae;

    --success: #15b422;
    --success-dark: #10a01c;

    --danger: rgb(252, 157, 157);
    --danger-dark: #a51f21;

    --light: #f5f5f5;
    --dark: #0f0f0f;
    --background-light: #ededed;
    --background-dark: #313131;

    --white: #ffffff;
}
