.customers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.customers-container .box{
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;
}

.stars .fa-solid{
    color: #bc9667;
}

.customers-container .box p{
    font-size: 0.938rem;
}

.customers-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}

.customers-container .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.customers-container .box:hover{
    background: rgb(250, 230, 192);
    transition: 0.2s all linear;
}

.heading {
font-size: 1.75rem;
color: rgb(3, 2, 0);
margin: 0 0 1rem;
justify-content: center;
text-align: center;
}