.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-light);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .logo {
    font-weight: bold;
    color: rgb(102, 61, 0);
    font-size: 3rem;
}
